.response-area {
    border-radius: 5px;
    min-height: 95px;
    margin-right: 15px;
    padding: 10px;
    min-width: 530px;
    overflow-y: visible;
}

.margin-bottom {
    margin-bottom: 15px;
    display: flex;
    grid-area: 2/2/3/4;
    flex-direction: column;
}

.right {
    align-self: flex-end;
}

