@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

body {
    background-color: hsl(228, 33%, 97%);
}

body, * {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    margin: 0;
}

.container {
    margin: 0 auto;
    margin-top: 40px;
    width: 730px;
}

.reply-container {
    margin-left: 90px;
    position: relative;
    width: 640px;
}

.reply-container::before {
    content: '';
    position: absolute;
    background-color: hsl(223, 19%, 93%);
    width: 3px;
    height: 92%;
    padding: 0;
    top: 10px;
    left: -45px;
}

@media only screen and (max-width: 760px) {
    .container {
        width: 95%;
    }

    .reply-container {
        margin-left: 5%;
        width: 95%;
    }

    .reply-container::before { 
        left: -5%;
    }
}